.App{
  
}
.login_button{
  background-color: rgba(26, 12, 136, 1);
  height: 45px;
  border-radius: 30px;
  border: none;
  color: white;
  width: 240px;
  font-size: 1rem;
  cursor: pointer;
}

.main{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  
}

.d_search{
  text-align: center;
  color: rgba(26, 12, 136, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1rem;
}
.main_div{
  width: 22%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  height: 150px;
  align-items: center;
  box-shadow: 0px 0px 48px 16px rgba(0, 0, 0, 0.1);
}